:host {
  background: linear-gradient(#f8f9fa, #e9ecef);
}

form {
  max-width: 400px;
  margin: 15vh auto 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

form input[type="number"],
form select,
form input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form input[type="checkbox"] {
  width: auto;
  margin-right: 8px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #0056b3;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  margin-bottom: 10px;

  label {
    min-width: 7rem;
  }
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;

  &__wrapper {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
}

.even {
  background-color: lightgrey;
}

.day.alternative_day, .title.alternative_day {
  padding-left: 10rem;
}

.day {
  padding: 1rem;
}

.title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    padding-left: 1rem;
    line-height: 2rem;
  font-size: 1.5rem;
}